In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = './data/immoweb_scrapped.csv'

In [3]:
data = pd.read_csv(filename)
data.head()

,id,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
0,9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
1,9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
2,9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
3,9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
4,9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10006 entries, 0 to 10005
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10006 non-null  int64
 1   locality             10006 non-null  int64
 2   type_of_property     10006 non-null  object
 3   subtype_of_property  10006 non-null  object
 4   price                9054 non-null   float64
 5   type_of_sale         10006 non-null  object
 6   nr_of_rooms          9119 non-null   float64
 7   area                 8817 non-null   float64
 8   equiped_kitchen      7819 non-null   object
 9   furnished            5535 non-null   object
 10  open_fire            10006 non-null  bool
 11  terrace              6421 non-null   object
 12  terrace_area         4373 non-null   float64
 13  garden               3029 non-null   object
 14  garden_area          2097 non-null   float64
 15  total_land_area      4576 non-null   float64
 16  nr_of_facades        7024 non-null   float64
 17  swimming_pool        4248 non-null   object
 18  building_condition   7924 non-null   object
dtypes: bool(1), float64(7), int64(2), object(9)
memory usage: 1.4+ MB

In [5]:
data['terrace'] = data['terrace'].fillna(False)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10006 entries, 0 to 10005
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10006 non-null  int64
 1   locality             10006 non-null  int64
 2   type_of_property     10006 non-null  object
 3   subtype_of_property  10006 non-null  object
 4   price                9054 non-null   float64
 5   type_of_sale         10006 non-null  object
 6   nr_of_rooms          9119 non-null   float64
 7   area                 8817 non-null   float64
 8   equiped_kitchen      7819 non-null   object
 9   furnished            5535 non-null   object
 10  open_fire            10006 non-null  bool
 11  terrace              10006 non-null  bool
 12  terrace_area         4373 non-null   float64
 13  garden               3029 non-null   object
 14  garden_area          2097 non-null   float64
 15  total_land_area      4576 non-null   float64
 16  nr_of_facades        7024 non-null   float64
 17  swimming_pool        4248 non-null   object
 18  building_condition   7924 non-null   object
dtypes: bool(2), float64(7), int64(2), object(8)
memory usage: 1.3+ MB

In [7]:
data['terrace_area'] = data['terrace_area'].fillna(-1)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10006 entries, 0 to 10005
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10006 non-null  int64
 1   locality             10006 non-null  int64
 2   type_of_property     10006 non-null  object
 3   subtype_of_property  10006 non-null  object
 4   price                9054 non-null   float64
 5   type_of_sale         10006 non-null  object
 6   nr_of_rooms          9119 non-null   float64
 7   area                 8817 non-null   float64
 8   equiped_kitchen      7819 non-null   object
 9   furnished            5535 non-null   object
 10  open_fire            10006 non-null  bool
 11  terrace              10006 non-null  bool
 12  terrace_area         10006 non-null  float64
 13  garden               3029 non-null   object
 14  garden_area          2097 non-null   float64
 15  total_land_area      4576 non-null   float64
 16  nr_of_facades        7024 non-null   float64
 17  swimming_pool        4248 non-null   object
 18  building_condition   7924 non-null   object
dtypes: bool(2), float64(7), int64(2), object(8)
memory usage: 1.3+ MB

In [9]:
# Search property where has garden = NAN
# Using the fact that: np.nan != np.nan
data[data["garden"]!=data["garden"]].shape[0]

6977

In [10]:
# Function that will replace the NaN garden value 
# by a boolean (True/False)
# True if total_land_area > (area + terrace_area)
# otherwise False
def garden_nan_to_bool_value(x):
    # Only if value is NaN
    if x["garden"] != x["garden"]:
        if x["total_land_area"] > x["area"] + x["terrace_area"]:
            return True
        else:
            return False
    return x["garden"]

In [11]:
data["garden"] = data.apply(garden_nan_to_bool_value, axis=1)

In [12]:
# Search property where has garden = NAN
# Using the fact that: np.nan != np.nan
data[data["garden"]!=data["garden"]].shape[0]

0

In [13]:
# Search property where has garden_area = NAN
# Using the fact that: np.nan != np.nan
data[(data["garden"]==True) & (data["garden_area"]!=data["garden_area"])].shape[0]

2111

In [14]:
# Function that will replace the NaN garden_are value 
# by a int
# if total_land_area > (area + terrace_area)
# otherwise 0
def garden_area_nan_to_value(x):
    # Only if value is NaN
    if x["garden_area"] != x["garden_area"]:
        if x["total_land_area"] > x["area"] + x["terrace_area"]:
            return x["total_land_area"] - x["area"] - x["terrace_area"]
        else:
            return 0
    return x["garden_area"]

In [15]:
data["garden_area"] = data.apply(garden_area_nan_to_value, axis=1)

In [16]:
# Search property where has garden_area = NAN
# Using the fact that: np.nan != np.nan
data[(data["garden"]==True) & (data["garden_area"]!=data["garden_area"])].shape[0]

0

In [20]:
# Function that will determine the Region
# based on the Locality ZipCode
# 
#1000–1299 -> BXL-Capitale
#1300–1499 -> P Brabrant Wallon -> Wallonie
#1500–1999 -> P Brabant Flamand -> Flandre
#2000–2999 -> P Anvers -> Flandre
#3000–3499 -> P Brabant Flamand -> Flandre
#3500–3999 -> P Limbourg -> Flandre
#4000–4999 -> P Liège -> Wallonie
#5000–5999 -> P Namur -> Wallonie
#6000–6599 -> P Hainaut -> Wallonie
#6600–6999 -> P Luxembourg -> Wallonie
#7000–7999 -> P Hainaut -> Wallonie
#8000–8999 -> P Fl Occidentale -> Flandre
#9000–9999 -> P Fl Orientale -> Flandre
def get_region_on_zip_code(x):
    # Only if value is NaN
    if (x >= 1000 and x <= 1299):
        return "BXL"
    elif (x >= 1300 and x <= 1499) or (x >= 4000 and x <= 7999):
        return "WAL"
    else:
        return "VLA"

In [22]:
data["region"] = data.locality.apply(get_region_on_zip_code)

In [23]:
data.head()

,id,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition,region
0,9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,False,0.0,NaN,4.0,NaN,AS_NEW,BXL
1,9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,False,0.0,NaN,3.0,NaN,AS_NEW,BXL
2,9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,0.0,340.0,2.0,NaN,JUST_RENOVATED,BXL
3,9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW,WAL
4,9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,False,-1.0,False,0.0,NaN,NaN,NaN,NaN,BXL