# Challenge Data Analysis

### Import modules

In [1]:
import numpy as np
import pandas as pd

### Files used

In [2]:
filename_in = './data/immoweb_scrapped.csv'
filename_out = './data/immoweb_cleaned.csv'

### Load data

In [3]:
data = pd.read_csv(filename_in)
data.head()

,id,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
0,9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
1,9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
2,9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
3,9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
4,9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(10006, 19)

### Added value

#### Kitchen

#### Province

#### Region

### Clean data

#### No duplicates

#### No blank space

#### No errors

#### No empty values

### Save data cleaned

In [5]:
data.to_csv(filename_out)