## Importing the libraries

In [9]:
import pandas as pd
import numpy as np

## Reading the csv + putting "id" as index

In [20]:
data = pd.read_csv("data/immoweb_scrapped.csv")
data = data.set_index("id")
data.head(10)

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9042175,1160,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9041098,6001,APARTMENT_GROUP,APARTMENT_GROUP,NaN,FOR_SALE,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9043036,9600,APARTMENT,APARTMENT,195000.0,FOR_SALE,2.0,75.0,INSTALLED,NaN,False,NaN,NaN,NaN,NaN,NaN,2.0,NaN,GOOD
9042950,6010,APARTMENT,TRIPLEX,235000.0,FOR_SALE,3.0,149.0,HYPER_EQUIPPED,False,False,True,15.0,NaN,NaN,NaN,2.0,False,AS_NEW
9042073,1070,APARTMENT,APARTMENT,320000.0,FOR_SALE,3.0,130.0,USA_HYPER_EQUIPPED,False,False,True,14.0,NaN,NaN,NaN,2.0,NaN,AS_NEW
9042267,7181,HOUSE,VILLA,325000.0,FOR_SALE,2.0,130.0,INSTALLED,False,False,True,30.0,True,600.0,1043.0,4.0,False,TO_BE_DONE_UP

## Checking if the index is unique

In [31]:
data.index.is_unique

True

## Removing rows without price

In [21]:
data = data.dropna(subset=['price'])
data.head(10)

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,NaN,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,NaN,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,NaN,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9043036,9600,APARTMENT,APARTMENT,195000.0,FOR_SALE,2.0,75.0,INSTALLED,NaN,False,NaN,NaN,NaN,NaN,NaN,2.0,NaN,GOOD
9042950,6010,APARTMENT,TRIPLEX,235000.0,FOR_SALE,3.0,149.0,HYPER_EQUIPPED,False,False,True,15.0,NaN,NaN,NaN,2.0,False,AS_NEW
9042073,1070,APARTMENT,APARTMENT,320000.0,FOR_SALE,3.0,130.0,USA_HYPER_EQUIPPED,False,False,True,14.0,NaN,NaN,NaN,2.0,NaN,AS_NEW
9042267,7181,HOUSE,VILLA,325000.0,FOR_SALE,2.0,130.0,INSTALLED,False,False,True,30.0,True,600.0,1043.0,4.0,False,TO_BE_DONE_UP
9042511,5340,HOUSE,VILLA,569000.0,FOR_SALE,6.0,324.0,INSTALLED,NaN,False,True,57.0,True,NaN,2202.0,4.0,NaN,JUST_RENOVATED
9034494,1950,APARTMENT,APARTMENT,715000.0,FOR_SALE,2.0,126.0,USA_HYPER_EQUIPPED,False,False,True,6.0,NaN,NaN,NaN,2.0,False,AS_NEW

## Filling missing values : 
 - Swimming_pool with False
 - Nr_of_facades with -1

In [22]:
data['swimming_pool'] = data['swimming_pool'].fillna(False)
data['nr_of_facades'] = data['nr_of_facades'].fillna(-1)
data.head(75)

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition
id,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4.0,90.0,INSTALLED,False,False,True,13.0,NaN,NaN,NaN,4.0,False,AS_NEW
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4.0,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,NaN,NaN,NaN,3.0,False,AS_NEW
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5.0,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2.0,False,JUST_RENOVATED
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5.0,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3.0,False,AS_NEW
9043036,9600,APARTMENT,APARTMENT,195000.0,FOR_SALE,2.0,75.0,INSTALLED,NaN,False,NaN,NaN,NaN,NaN,NaN,2.0,False,GOOD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8892312,1180,APARTMENT,APARTMENT,295000.0,FOR_SALE,1.0,73.0,USA_HYPER_EQUIPPED,False,False,True,5.0,NaN,NaN,NaN,-1.0,False,AS_NEW
9014566,1160,APARTMENT,APARTMENT,335500.0,FOR_SALE,1.0,70.0,USA_HYPER_EQUIPPED,False,False,True,13.0,NaN,NaN,NaN,-1.0,False,AS_NEW
8759756,4000,HOUSE,HOUSE,415000.0,FOR_SALE,3.0,180.0,HYPER_EQUIPPED,True,False,True,40.0,True,350.0,550.0,3.0,False,AS_NEW
8892319,1180,APARTMENT,APARTMENT,430000.0,FOR_SALE,2.0,100.0,USA_HYPER_EQUIPPED,False,False,True,15.0,NaN,NaN,NaN,-1.0,False,AS_NEW
9014568,1160,APARTMENT,APARTMENT,501500.0,FOR_SALE,2.0,102.0,USA_HYPER_EQUIPPED,False,False,True,25.0,NaN,NaN,NaN,-1.0,False,AS_NEW

## Checking the types of columns

In [5]:
data.dtypes

locality                 int64
type_of_property        object
subtype_of_property     object
price                  float64
type_of_sale            object
nr_of_rooms            float64
area                   float64
equiped_kitchen         object
furnished               object
open_fire                 bool
terrace                 object
terrace_area           float64
garden                  object
garden_area            float64
total_land_area        float64
nr_of_facades          float64
swimming_pool             bool
building_condition      object
dtype: object

## Change type of locality, nr_of_rooms, furnished, terrace, garden, nr_of_facades, swimming_pool

In [23]:
convert_dict = {'nr_of_rooms': int,
                'furnished': bool,
                'terrace': bool,
                'garden': bool, 
                'nr_of_facades': int,
                'swimming_pool': bool 
               } 
  
data = data.astype(convert_dict)

In [7]:
data.dtypes

locality                 int64
type_of_property        object
subtype_of_property     object
price                  float64
type_of_sale            object
nr_of_rooms              int32
area                   float64
equiped_kitchen         object
furnished                 bool
open_fire                 bool
terrace                   bool
terrace_area           float64
garden                    bool
garden_area            float64
total_land_area        float64
nr_of_facades            int32
swimming_pool             bool
building_condition      object
dtype: object

## Adding province column

In [24]:
#function to recognize the province based on the postal code
def province(x):
    
    prov = []
    for i in x["locality"]:
        
        if 2000 <= i <= 2999:
            
            #Antwerp
            prov.append("VAN")

        if 3500 <= i <= 3999:
            
            #Limburg
            prov.append("VLI")
            
        if 4000 <= i <= 4999:
            
            #Liège
            prov.append("WLG")
            
        if 1300 <= i <= 1499:
            
            #Brabant Wallon
            prov.append("WBR")
            
        if 5000 <= i <= 5999:
            
            #Namur
            prov.append("WNA") 
            
        if 6600 <= i <= 6999:
            
            #Luxembourg
            prov.append("WLX")
            
        if 1000 <= i <= 1299:
            
            #Brussels
            prov.append("Brussels")
              
 
        if (1500 <= i <= 1999) | (3000 <= i <= 3499):
            
            #Brabant Flamand
            prov.append("VBR")


        if (6000 <= i <= 6599) | (7000 <= i <= 7999):
            
            #Hainaut
            prov.append("WHT")
            
        if 8000 <= i <= 8999:
            
            #Flander Occidentale
            prov.append("VWV")   
            
        if 9000 <= i <= 9999:
            
            #Flander Orientale
            prov.append("VOV")   
            
    return prov

In [25]:
data["Province"] = province(data)
data.head(10)

,locality,type_of_property,subtype_of_property,price,type_of_sale,nr_of_rooms,area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,total_land_area,nr_of_facades,swimming_pool,building_condition,Province
id,,,,,,,,,,,,,,,,,,,
9044081,1083,APARTMENT,APARTMENT,265000.0,FOR_SALE,4,90.0,INSTALLED,False,False,True,13.0,True,NaN,NaN,4,False,AS_NEW,Brussels
9043978,1000,APARTMENT,APARTMENT,1795000.0,FOR_SALE,4,650.0,USA_HYPER_EQUIPPED,False,True,True,400.0,True,NaN,NaN,3,False,AS_NEW,Brussels
9044188,1050,HOUSE,MANSION,3800000.0,FOR_SALE,5,752.0,HYPER_EQUIPPED,False,False,True,40.0,True,NaN,340.0,2,False,JUST_RENOVATED,Brussels
9041095,4860,HOUSE,HOUSE,320000.0,FOR_SALE,5,231.0,NOT_INSTALLED,False,False,True,30.0,True,1200.0,1421.0,3,False,AS_NEW,WLG
9043036,9600,APARTMENT,APARTMENT,195000.0,FOR_SALE,2,75.0,INSTALLED,True,False,True,NaN,True,NaN,NaN,2,False,GOOD,VOV
9042950,6010,APARTMENT,TRIPLEX,235000.0,FOR_SALE,3,149.0,HYPER_EQUIPPED,False,False,True,15.0,True,NaN,NaN,2,False,AS_NEW,WHT
9042073,1070,APARTMENT,APARTMENT,320000.0,FOR_SALE,3,130.0,USA_HYPER_EQUIPPED,False,False,True,14.0,True,NaN,NaN,2,False,AS_NEW,Brussels
9042267,7181,HOUSE,VILLA,325000.0,FOR_SALE,2,130.0,INSTALLED,False,False,True,30.0,True,600.0,1043.0,4,False,TO_BE_DONE_UP,WHT
9042511,5340,HOUSE,VILLA,569000.0,FOR_SALE,6,324.0,INSTALLED,True,False,True,57.0,True,NaN,2202.0,4,False,JUST_RENOVATED,WNA
9034494,1950,APARTMENT,APARTMENT,715000.0,FOR_SALE,2,126.0,USA_HYPER_EQUIPPED,False,False,True,6.0,True,NaN,NaN,2,False,AS_NEW,VBR